@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DFF6FF !important;
}
html{
    scroll-behavior: smooth !important;
}
.navbar-brand{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-nav .nav-link{
    font-family: 'Poppins', sans-serif;
    color: #06283D !important;
}

.right-nav a{
    padding: 0 8px;
    font-family: 'Poppins', sans-serif;
    color: #06283D;
}

.right-nav a:focus{
    outline: 0 !important;
    box-shadow: none;
}
.right-nav span{
    padding: 1px 0;
    font-family: 'Poppins', sans-serif;
    color: #06283D;
}
section .main-pg{
    height: 530px !important;
    margin: 0px 0px !important;
    position: absolute;
    top: 10%;
}
section .content{
    margin-top: 150px;
    padding-left: 30px;
}
section .content h1{
    font-family: 'EB Garamond', serif;
    font-size: 5rem;
    color: #06283D;
    /* line-height: 3rem; */
}
section .content h5{
    font-family: 'Montserrat', sans-serif;
}
section .content .highlight{
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    line-height: 1px;
    color: #59bcef;
}
section .content a{
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif;
}
section .content a:focus{
    outline: 0 !important;
    box-shadow: none;
}

.about-us{
    height: 600px;
    position: absolute;
    top: 100%;
}
.about-us .content{
    height: 550px;
}
.about-us .content .abt-left{
    background: url(../assets/abt-us/abt-left.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-left: 40px;
}
.abt-left h1{
    font-family: 'EB Garamond', serif;
    color: #06283D;
}
.abt-left h4{
    font-family: 'Satisfy', cursive;
    color: #06283D;
}
.abt-left .txt{
    overflow-x: hidden;
}
.abt-right{
    padding-top: 80px;
    padding-left: 30px !important; 
    padding-right: 100px !important;
}
.abt-right h1{
    font-family: 'EB Garamond', serif;
    font-size: 3.5rem;
    color: #06283D;
}
.abt-right h1 span{
    color: #59bcef;
}
.abt-right p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.abt-right a{
    font-family: 'Poppins', sans-serif;
}

